DEBUG=False
SECRET_KEY=change-me-to-a-long-random-secret
ALLOWED_HOSTS=localhost,127.0.0.1,147.45.185.185
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,http://147.45.185.185:7777
CORS_ALLOWED_ORIGINS=http://localhost,http://127.0.0.1,http://147.45.185.185:7777

POSTGRES_DB=kulov_money
POSTGRES_USER=kulov
POSTGRES_PASSWORD=change-me-postgres-password

WEB_CONCURRENCY=3
NGINX_PORT=7777

DJANGO_SEED_DEMO=false
DJANGO_CREATE_DEV_ADMIN=false
